

<div class="row">
    

    <div class="col-md-8">

        <!-- A5 paper size -->
        <!--
            Equivalent A5 paper dimensions in pixels at 300 DPI and 72 DPI respectively are: 
            1748 pixels x 2480 pixels (print resolution) 
            420 pixels x 595 pixels (screen resolution)
        -->
        <div id="badgeCanvas" width="559" height="794">

            {{#each fields}}
            <span id="{{this.fieldName}}" style="
            left: {{this.fieldLeft}}; 
            top: {{this.fieldTop}}; 
            width: {{this.fieldWidth}}; 
            font-family: '{{this.fieldFontFamily}}'; 
            font-size: {{this.fieldFontSize}};
            font-weight: '{{this.fieldFontWeight}}';
            font-style: '{{this.fieldFontStyle}}';
            text-align: '{{this.fieldTextAlign}}';
            ">
                {{toUpperCase this.fieldValue}}
            </span>

            {{/each}}         

            {{#if showBarcode}}
            <img id="barcode" style="
            left: {{barcodeLeft}};
            top: {{barcodeTop}};
            " >
            {{/if}}

        </div> 
      
    </div>

</div>



<script>



$(document).ready(function(){
var fields = [];

    {{#if showBarcode}}
      JsBarcode("#barcode", "{{barcode}}", {
      format: "CODE128",
      width: 2,
      height:40,
      margin: 5,
      textMargin: 0,
      fontSize: 16,
      displayValue: true
      });
    {{/if}}

 var topIndex=0;

    {{#each fields}}
    $("#{{this.fieldName}}").css('left', '{{this.fieldLeft}}px' );
    $("#{{this.fieldName}}").css('top', '{{this.fieldTop}}px'  );
    $("#{{this.fieldName}}").css('font-family','{{this.fieldFontFamily}}');
    $("#{{this.fieldName}}").css('font-size','{{this.fieldFontSize}}px' );
    $("#{{this.fieldName}}").css('font-weight','{{this.fieldFontWeight}}');
    $("#{{this.fieldName}}").css('font-style','{{this.fieldFontStyle}}');
    $("#{{this.fieldName}}").css('text-align','{{this.fieldTextAlign}}');


    if('{{this.fieldTextAlign}}'=='center'){
        $("#{{this.fieldName}}").css('display','block');
        $("#{{this.fieldName}}").css('left','0px');
        $("#{{this.fieldName}}").css('float','none');
    }
    else if('{{this.fieldTextAlign}}'=='left'){
        $("#{{this.fieldName}}").css('display','inline');
        $("#{{this.fieldName}}").css('float','none');
    }
    else if('{{this.fieldTextAlign}}'=='right'){
        $("#{{this.fieldName}}").css('display','block');
        $("#{{this.fieldName}}").css('left','0px');
        $("#{{this.fieldName}}").css('float','right');
    }
    


    $("#{{this.fieldName}}").draggable({
        containment: "#badgeCanvas",
        scroll: false,
        stop: function (event, ui) {
            
            console.log(ui);
            
        }
    });

    fields.push('{{this.fieldName}}');

    {{/each}}

    {{#if showBarcode}}

        $("#barcode").css('left', '{{barcodeLeft}}px' );
        $("#barcode").css('top', '{{barcodeTop}}px'  );

        $("#barcode").draggable({
            containment: "#badgeCanvas",
            scroll: false,
            stop: function (event, ui) {
                
                console.log(ui);
                
            }
        });

        fields.push('barcode');
    {{/if}}



      window.print();
      
      setTimeout(function(){ window.close(); }, 500);
});

      
</script>