

<div class="row">
    

    <div class="col-md-8">


        <!-- A5 paper size -->
        <!--
            Equivalent A5 paper dimensions in pixels at 300 DPI and 72 DPI respectively are: 
            1748 pixels x 2480 pixels (print resolution) 
            420 pixels x 595 pixels (screen resolution)
        -->
   

        <div id="badgeCanvas" width="559" height="794">

            {{#each fields}}
            <span id="{{this.fieldName}}" style="
            left: {{this.fieldLeft}}; 
            top: {{this.fieldTop}}; 
            width: {{this.fieldWidth}}; 
            font-family: '{{this.fieldFontFamily}}'; 
            font-size: {{this.fieldFontSize}};
            font-weight: '{{this.fieldFontWeight}}';
            font-style: '{{this.fieldFontStyle}}';
            text-align: '{{this.fieldTextAlign}}';
            ">
                {{toUpperCase this.fieldLabel}}
            </span>

            {{/each}}         

            {{#if showBarcode}}
            <img id="barcode" src="/images/barcode.png" style="display: none" >
            {{/if}}

        </div>        
        




    </div>

</div>


<script src="/library/jquery-3.3.1.min.js"></script>
<script src="/library/JsBarcode.all.min.js"></script>

<script>

var fields = [];



$(document).ready(function(){
    /*
    JsBarcode("#barcode", "19299259221626", {
    format: "CODE128",
    width: 1,
    height:40,
    margin: 5,
    textMargin: 0,
    fontSize: 10,
    displayValue: true
    });
    */
    
    var topIndex=0;

    {{#each fields}}
    topIndex = {{@index}};

    $("#{{this.fieldName}}").draggable({
        containment: "#badgeCanvas",
        scroll: false,
        stop: function (event, ui) {
            
            console.log(ui);
            
        }
    });

    fields.push('{{this.fieldName}}');

    {{/each}}



    window.print();
      
    setTimeout(function(){ window.close(); }, 500);
});

      
</script>